.js-tab__content section {
  display: none;
}

.js-tab__content section.active {
  display: block !important;
  animation: show .5s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0)
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.js-accordion dd {
  display: none;
}

.js-accordion dt::after {
  content: '⬎';
  margin-left: 1rem;
}

.js-accordion dt.active::after {
  content: '⬏ ';
}

.js-accordion dd.active {
  display: block;
  animation: slideDown .5s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to{
    opacity: 1;
    max-height: 20rem;
  }
}

.js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: .3s;
}

.js-scroll.active {
  opacity: 1;
  transform: translate3d(0 , 0, 0);
}


@media (max-width: 60rem) {
  .js-navbar {
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .js-navbar.active {
    transform: translateX(0%);
  }

  .js-navbar__mobile.active span:nth-child(2){
    opacity: 0;
  }

  .js-navbar__mobile.active span:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .js-navbar__mobile.active span:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
}