.js-tab__content section {
  display: none;
}
.js-tab__content section.active {
  display: block !important;
  animation: show .5s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0)
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}