@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,700&family=Playfair+Display+SC:wght@400;700;900&display=swap');

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace;
  font-style: normal;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
  background-color: #0e1318;
  color: #faf6ed;

  display: grid;
  grid-template-columns: 1fr 12rem minmax(30rem, 80rem) 1fr
}

ul {
  list-style: none;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.logo {
  width: 14rem;
  margin: 2rem 0 0 2rem;
}

.navbar-mobile {
  display: none;
  cursor: pointer;
}

.navbar-mobile span {
  display: block;
  width: 2.8rem;
  height: .3rem;
  margin: .5rem auto;
  border-radius: .2rem;
  background-color: #faf6ed;
  transition: all 0.3s ease-in-out;
}

.navbar {
  grid-column: 3/5;
  padding: 1rem;
  margin-top: 2rem;
  background-color: #202020;
}

.navbar-menu {
  display: flex;
  gap: 5rem;
}

.navbar-menu li a{
  display: block;
  padding: 1rem;
  color: #faf6ed;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: .1em;
  position: relative;
}

.grid-section {
  display: grid;
  grid-template-columns: 9rem 30rem 1fr;
  grid-column: 2 / 4;
  gap: 2rem;

  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  margin-top: 8rem;
  margin-bottom: 6.4rem;
}

.ships {
  margin-top: 15rem;
}

.title {
  font-family: 'Playfair Display SC', georgia;
  font-size: 9.6rem;
  line-height: 1;
  font-weight: 400;
  
  grid-column: 1 / 3;
  margin-bottom: 1.6rem;
}

.item-img {
  display: block;
  max-width: 100%;
}

.ships h2 {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 1.6rem;
  color: #E54;
}

.ships h2::before{
  content: '';
  display: inline-block;
  width: 4rem;
  height: 1rem;
  margin-right: 1rem;
  background-color: #DBA90D;
}

.ships p {
  font-family: Helvetica, Arial;
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

.ships-list {
  height: 37rem;
  overflow-y: scroll;

  grid-column: 1/3;
  margin-top: 3.2rem;
}

.ships-list::-webkit-scrollbar {
  width: 1.4rem;
}

.ships-list::-webkit-scrollbar-thumb {
  background-color: #DBA90D;
}
.ships-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.ships-list__item {
  padding-bottom: 3rem;
  cursor: pointer;
}

.ships-description {
  grid-column: 3;
  margin-top: 3.2rem;
}

.ships-description section {
  margin-bottom: 4.8rem;
}

.faq-list {
  grid-column: 2 / 4;
}

.faq-list dt {
  font-weight: bold;
  margin-top: 3.2rem;
  margin-bottom: .8rem;
  color: #E54;
  cursor: pointer;
}

.faq-list dt::before {
  content: '';
  display: inline-block;
  width: 2rem;
  height: 1rem;
  margin-right: 1rem;
  background-color: #DBA90D;
}

.faq-list dd {
  font-family: Helvetica, Arial;
  margin-bottom: .8rem;
  margin-left: 3rem;
}

.map {
  grid-column: 2 / 4;
}

.map-space{
  width: 100%;
}

.details {
  grid-column: 4;
}

.details li {
  margin-bottom: 1.6rem;
  font-family: Helvetica, Arial;
}

.details li::before{
  content: '';
  display: inline-block;
  width: 2rem;
  height: 1rem;
  margin-right: 1rem;
  background-color: #DBA90D;
}

.copy {
  grid-column: 3/5;
  margin-bottom: 3.2rem;

  background-color: #DBA90D;
}

.copy p {
  padding:  2rem;
  font-weight: bold;
}

@media (max-width: 60rem) {
  body {
    grid-template-columns: 1fr;
  }

  .navbar, .grid-section, .copy {
    grid-column: 1;
  }

  .grid-section {
    grid-template-columns: 100px 1fr;
    gap: 1rem;
  }

  .ships-list {
    grid-column: 1;
  }

  .faq-list, .details, .map {
    grid-column: 1 / 3;
  }

  .title {
    font-size: 3rem;
  }

  .navbar{
    position: fixed;
    z-index: 10;
    inset: 0 0 0 60%;

    flex-direction: column;
    margin-top: 0;
    padding: min(30vh, 8rem) .5em;
  }

  .navbar-menu {
    flex-direction: column;
  }

  .navbar-mobile {
    display: block;
    bottom: unset;
    position: absolute;
    z-index: 800;
    top: 2rem;
    right: 2rem;
  }

}